<h1>Lista de productos</h1>
<ul>
  {{#each productos}}
    <li>
      <strong>Nombre:</strong> {{nombre}} <br>
      <strong>Precio:</strong> ${{precio}} <br>
    </li>
  {{else}}
    <li>No hay productos agregados.</li>
  {{/each}}
</ul>
